#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 960px;
    width: 960px;
    border-style: solid;
    border-color: gray;
    border-width: 0.5px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    border-style: solid;
    border-color: black;
    height: auto;
    width: auto;
    border-width: 0.5px;
    background-color: white;
}

.sixtyfour {
    grid-template-columns: repeat(64, 1fr) !important;
}

.black {
    background-color: black !important;
}

html {
    background-color: aquamarine;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 4em;
    width: 7em;
    background-color: pink;
    margin-bottom: 1em;
}

button:hover {
    transform: scale(1.2);
}

.contentx {
    border-style: solid;
    border-color: black;
    height: auto;
    width: auto;
    border-width: 0.5px;
    background-color: white;
}