#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 960px;
    width: 960px;
}

.content {
    border-style: solid;
    border-color: black;
    height: auto;
    width: auto;
}

.sixtyfour {
    grid-template-columns: repeat(64, 1fr) !important;
}

.black {
    background-color: black;
}